#banner {
  text-align: center;
  padding: 75px;
  
  h1 {
    color: $brand-primary;
  }
}

#linked-sections {
  
  h2 {
    color: $brand-primary;
    font-size: 24px;
    text-align: center;
    text-transform: capitalize;
  }
  
}