#banner {
  text-align: center;
  padding: 75px;
  
  h1 {
    color: $brand-primary;
  }
  
  @media screen and (max-width: 500px) {
   padding: 5px;
  }
}

#linked-sections {
  
  h2 {
    color: $brand-primary;
    font-size: 24px;
    text-align: center;
    text-transform: capitalize;
  }
  
}

.blog {
  
  img {
    max-width: 100%;
  }
}