@import "bootstrap-sprockets";
@import "variables.scss";
@import "bootstrap";
@import "overides.scss";
@import "sections.scss";

.author {
  color: $brand-primary;
  font-weight: 500;
  font-family: $font-family-sans-serif;
  
  span {
    float: right;
  }
}

.small-img {
  width: auto;
}