---
title: Allyooop!
---

<section id="banner">
  <div class="container">
    <div class="col-md-8 col-md-offset-2 col-sm-12">
      <h1> <%= current_page.data.title %></h1>
      <p class="lead">Make your product a slam dunk!</p>
      <p>Allyooop! is a product design and analysis platform that hits the court soon. Eager to learn more? Drop us a hello by pressing the big red button below.</p>
       <a href="mailto:grillopress@gmail.com" class="btn btn-primary btn-cta">Email us</a>
    </div>
  </div>
</section>

<!--
<section id="linked-sections">

</section>
-->