---
title: Allyooop!
---

<section id="banner">
  <div class="container">
    <div class="row">
      <h1> <%= current_page.data.title %></h1>
      <p class="lead">Make your product a slam dunk!</p>
    </div>
  </div>
</section>

<section id="linked-sections">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2>Product consultancy</h2>
        <a href="" class="btn"></a>
      </div>
      <div class="col-md-4">
        <h2>Hire us</h2>
        <a href="" class="btn"></a>
      </div>
      <div class="col-md-4">
        <h2>Blog</h2>
        <a href="" class="btn"></a>
      </div>
    </div>
  </div>
</section>